Repository CyberFatherRT/prod-2025-final: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy, buildApp

.gitlab-ci.yml:

include:
  - project: pipelines/pipelines
    ref: master
    file:
      - "/jobs/build.yaml"
      - "/jobs/docker.yaml"
      - "/jobs/rules.yaml"

.global-variables:
  variables:
    SSH_USER: "$ENV_SSH_USER"
    SSH_HOST: "$ENV_SSH_HOST"
    SSH_PRIVATE_KEY_BASE64: "$ENV_PRIVATE_KEY_BASE64"

stages:
  - build
  - deploy

deploy:
  only:
    changes:
      - compose.yml
      - nginx/**
      - backend/**
  needs: [ ]
  extends:
    - .ssh
    - .global-variables
  stage: deploy
  script:
    - ssh $SSH_ADDRESS "cd /home/ubuntu/prod && git pull && docker compose up -d --build backend"

buildApp:
  only:
    changes:
      - mobile/**
  stage: build
  image: eclipse-temurin:17-jdk
  variables:
    ANDROID_COMPILE_SDK: 35
    ANDROID_BUILD_TOOLS: "35.0.0"
    ANDROID_SDK_TOOLS: "11076708"
  before_script:
    - cd mobile

    - apt-get --quiet update --yes
    - apt-get --quiet install --yes wget unzip

    - export ANDROID_HOME="${PWD}/android-sdk-root"
    - install -d $ANDROID_HOME
    - wget --no-verbose --output-document=$ANDROID_HOME/cmdline-tools.zip https://dl.google.com/android/repository/commandlinetools-linux-${ANDROID_SDK_TOOLS}_latest.zip
    - unzip -q -d "$ANDROID_HOME/cmdline-tools" "$ANDROID_HOME/cmdline-tools.zip"
    - mv -T "$ANDROID_HOME/cmdline-tools/cmdline-tools" "$ANDROID_HOME/cmdline-tools/tools"
    - export PATH=$PATH:$ANDROID_HOME/cmdline-tools/latest/bin:$ANDROID_HOME/cmdline-tools/tools/bin

    - sdkmanager --version

    - yes | sdkmanager --licenses > /dev/null || true
    - sdkmanager "platforms;android-${ANDROID_COMPILE_SDK}"
    - sdkmanager "platform-tools"
    - sdkmanager "build-tools;${ANDROID_BUILD_TOOLS}"

    - chmod +x ./gradlew
  script:
    - ./gradlew assembleDebug
  artifacts:
    paths:
      - mobile/app/build/outputs/

mobile: upload pfp + other fixes on profile screen
  mobile/app/src/main/java/ru/prodcontest/booq/data/remote/ApiRemote.kt
  mobile/app/src/main/java/ru/prodcontest/booq/data/repository/ApiRepositoryImpl.kt
  mobile/app/src/main/java/ru/prodcontest/booq/domain/repository/ApiRepository.kt
  mobile/app/src/main/java/ru/prodcontest/booq/domain/util/UploadProgress.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/MainActivity.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/auth/register/RegisterScreen.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/auth/register/RegisterState.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/auth/register/RegisterViewModel.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/profile/ProfileScreen.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/profile/ProfileScreenState.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/profile/ProfileViewModel.kt
Due: none

update MapScreen
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/map/MapScreen.kt
Due: none

changes
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/verifications/VerificationsScreen.kt
Due: none

add qrs
  backend/.sqlx/query-1706ef364bbe6ca2a5480a2369c2c586db4a77196f66f6cdbfef10bf8456900a.json
  backend/.sqlx/query-f2a45b0ec7f3b1d925c539f2c7af60bc3cbad6f739fa73159eb51fe22bd8aeed.json
  backend/src/controllers/users/mod.rs
  backend/src/forms/bookings/mod.rs
  backend/src/jwt/generate.rs
  backend/src/jwt/models.rs
  backend/src/main.rs
  backend/src/models/mod.rs
  backend/src/openapi.rs
  backend/src/routes/booking/mod.rs
  backend/src/routes/booking/routes.rs
  backend/src/routes/items/routes.rs
  backend/src/routes/places/coworking.rs
Due: none

update ApiRemote, BookingDto
  mobile/app/build.gradle.kts
  mobile/app/src/main/java/ru/prodcontest/booq/data/remote/ApiRemote.kt
  mobile/app/src/main/java/ru/prodcontest/booq/data/remote/dto/BookingDto.kt
  mobile/app/src/main/java/ru/prodcontest/booq/data/repository/ApiRepositoryImpl.kt
  mobile/app/src/main/java/ru/prodcontest/booq/domain/model/BookingModel.kt
  mobile/app/src/main/java/ru/prodcontest/booq/domain/repository/ApiRepository.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/home/components/HomeBookingCard.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/home/components/HomeBookingCardShimmer.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/navigation/NavGraph.kt
  mobile/gradle/libs.versions.toml
Due: none

mobile: raw qr scanner screen
  mobile/app/build.gradle.kts
  mobile/app/src/main/AndroidManifest.xml
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/navigation/NavGraph.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/profile/ProfileScreen.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/qrScanner/QrScannerScreen.kt
  mobile/gradle/libs.versions.toml
Due: none

mobile: raw qr showing screen
  mobile/app/build.gradle.kts
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/navigation/NavGraph.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/showQR/ShowQrScreen.kt
  mobile/gradle/libs.versions.toml
Due: none

ch
  backend/python-client/bookit/user.py
  backend/python-client/tests/make_company.py
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/navigation/NavGraph.kt
Due: none

update: nginx conf
  nginx/default.conf
Due: deploy

update: nginx conf (2)
  nginx/default.conf
Due: deploy

update: nginx conf (3)
  nginx/default.conf
Due: deploy

update: nginx conf (4)
  nginx/default.conf
Due: deploy

update: nginx conf (5)
  nginx/default.conf
Due: deploy

mobile: qr code verification screen (idk whether it works)
  mobile/app/build.gradle.kts
  mobile/app/src/main/java/ru/prodcontest/booq/data/remote/ApiRemote.kt
  mobile/app/src/main/java/ru/prodcontest/booq/data/remote/dto/QrVerificationDto.kt
  mobile/app/src/main/java/ru/prodcontest/booq/data/repository/ApiRepositoryImpl.kt
  mobile/app/src/main/java/ru/prodcontest/booq/domain/model/QrVerificationModel.kt
  mobile/app/src/main/java/ru/prodcontest/booq/domain/repository/ApiRepository.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/auth/login/LoginScreen.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/navigation/NavGraph.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/qrScanner/QrScannerScreen.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/qrScanner/QrScannerScreenState.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/qrScanner/QrScannerViewModel.kt
Due: none

lol
  backend/python-client/bookit/admin.py
  backend/python-client/bookit/company.py
  backend/python-client/bookit/coworkings.py
  backend/python-client/bookit/util.py
Due: none

fix bugs
  backend/.sqlx/query-2daff3c7a672294585e3b425e5ad3dd18ac68f84f928da4f83d6956e31243d43.json
  backend/.sqlx/query-32485bb14d8df3036879bb7e9f16e9db153ce49a144e6de9471d10aaf47367f3.json
  backend/.sqlx/query-eac70f506ecea2aea64e7686d76c1fd85def920fc657e068265f635e78c93c66.json
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/jwt/models.rs
  backend/src/models/mod.rs
  backend/src/routes/booking/routes.rs
  backend/src/routes/items/routes.rs
Due: deploy

mobile: SelectBuildingScreen
  mobile/app/src/main/java/ru/prodcontest/booq/data/remote/ApiRemote.kt
  mobile/app/src/main/java/ru/prodcontest/booq/data/remote/dto/PlacesDto.kt
  mobile/app/src/main/java/ru/prodcontest/booq/data/repository/ApiRepositoryImpl.kt
  mobile/app/src/main/java/ru/prodcontest/booq/domain/repository/ApiRepository.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/auth/login/LoginScreen.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/navigation/NavGraph.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/selectBuilding/SelectBuildingScreen.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/selectBuilding/SelectBuildingScreenState.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/selectBuilding/SelectBuildingViewModel.kt
Due: none

add items to cowo & fix qrs
  backend/.sqlx/query-7dbaa20587e4423bada79ac2d9e0a481f364fffc8a51e6788e3f5ee715defc23.json
  backend/.sqlx/query-8aacc62354a6768156881fe9eff3a32578398f424877e6c4040992b0a5dd03d9.json
  backend/.sqlx/query-c60e08ed67a0457dfbc374d3566df1287ed7d30b86a753ea4395da3ce82aceb5.json
  backend/.sqlx/query-dac968802e5f8418d599cd065075af6013f4b8fa1f7666fd009e68fd92e1b8cf.json
  backend/.sqlx/query-f4a90cc56ace7ce54b21d85cd82a7511772f5731ef7e1c7bfb9e348f3e214242.json
  backend/migrations/20250301202649_booking.up.sql
  backend/src/forms/items/mod.rs
  backend/src/jwt/models.rs
  backend/src/models/mod.rs
  backend/src/openapi.rs
  backend/src/routes/booking/routes.rs
  backend/src/routes/items/routes.rs
  backend/src/routes/items/selecting.rs
  backend/src/routes/places/items.rs
  backend/src/routes/places/mod.rs
Due: none

change readme
  README.md
Due: none

update HomeScreen
  mobile/app/src/main/java/ru/prodcontest/booq/data/remote/ApiRemote.kt
  mobile/app/src/main/java/ru/prodcontest/booq/data/repository/ApiRepositoryImpl.kt
  mobile/app/src/main/java/ru/prodcontest/booq/domain/model/BookingModel.kt
  mobile/app/src/main/java/ru/prodcontest/booq/domain/repository/ApiRepository.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/auth/login/LoginScreen.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/auth/regcomp/RegisterCompanyScreen.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/auth/register/RegisterScreen.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/home/HomeScreen.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/home/HomeState.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/home/HomeViewModel.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/home/components/HomeBookingCard.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/home/components/HomeBookingPager.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/navigation/NavGraph.kt
Due: none

mobile: better map screen
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/map/MapScreen.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/map/components/FloatingBackIcon.kt
Due: none

add deletes & bookings by cowo
  backend/.sqlx/query-1df45150262c7a3dfa8315f11e8984acefb6414c5b483ef1e8f22d6b21dd1101.json
  backend/.sqlx/query-22eeb62275f09764a8f5f24c2c78907adf7d179e04a6f3418e27842f7a27770b.json
  backend/.sqlx/query-41b9f5378e71e81b71c2c3d09e92474e255949ec0f3a379dfee96a6379676908.json
  backend/.sqlx/query-be7e2452c9fcd896b4a37fb21b440b48044bcfad27962801604418b1dc8a58a4.json
  backend/src/openapi.rs
  backend/src/routes/booking/routes.rs
  backend/src/routes/places/building.rs
  backend/src/routes/places/coworking.rs
  backend/src/routes/places/mod.rs
Due: none

fix CI
  backend/.sqlx/query-c1c21b2c6dea50b9bc4b306f4c049ac0ef274e41a623c8c3fb8c081fbb6a64ee.json
  backend/src/openapi.rs
  backend/src/routes/places/coworking.rs
Due: none

restructure: server actions into files by group
  frontend/app/actions.ts
  frontend/app/buildings.ts
  frontend/app/coworkings.ts
  frontend/app/items.ts
  frontend/components/coworking-admin.tsx
  frontend/components/places-manager.tsx
Due: none

impl: Coworking edition
  frontend/app/coworkings.ts
  frontend/components/places-manager.tsx
  frontend/prettier.config.js
Due: none

add cowo resize
  backend/.sqlx/query-b555c0cc6ed93d97e2a287618ae39d5cee2971862c9dbb5fff951130bb0667ce.json
  backend/src/forms/places/coworking.rs
  backend/src/routes/places/coworking.rs
  backend/src/routes/places/items.rs
Due: none

fix items list
  backend/src/routes/places/items.rs
Due: none

fix sqlx
  backend/.sqlx/query-4e1d1ff696d0c08aed1f01f8f88140151d66cc2d30f7e82c36e65792ac6e4ad4.json
Due: none

mobile: map screen gets data from backend!!!
  mobile/app/proguard-rules.pro
  mobile/app/src/main/java/ru/prodcontest/booq/data/remote/ApiRemote.kt
  mobile/app/src/main/java/ru/prodcontest/booq/data/remote/dto/CompanyItemDto.kt
  mobile/app/src/main/java/ru/prodcontest/booq/data/remote/dto/CoworkingDto.kt
  mobile/app/src/main/java/ru/prodcontest/booq/data/remote/dto/CoworkingItemDto.kt
  mobile/app/src/main/java/ru/prodcontest/booq/data/repository/ApiRepositoryImpl.kt
  mobile/app/src/main/java/ru/prodcontest/booq/domain/model/CoworkingItemModel.kt
  mobile/app/src/main/java/ru/prodcontest/booq/domain/model/Point.kt
  mobile/app/src/main/java/ru/prodcontest/booq/domain/repository/ApiRepository.kt
  mobile/app/src/main/java/ru/prodcontest/booq/domain/usecase/GetCoworkingDataUseCase.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/auth/login/LoginScreen.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/map/CoworkingMap.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/map/MapScreen.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/map/MapScreenAction.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/map/MapScreenState.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/map/MapViewModel.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/map/components/drawRoundRectWithCorners.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/navigation/NavGraph.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/selectBuilding/SelectBuildingScreen.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/util/savers.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/verifications/VerificationsScreen.kt
  mobile/gradle.properties
Due: buildApp

add put method
  backend/.sqlx/query-45c90854c20b13dff360a5fcc163f271e41d71bfe9446eeb06050e7188427505.json
  backend/src/models/mod.rs
  backend/src/routes/places/items.rs
  backend/src/routes/places/mod.rs
Due: none

testing stuff
  backend/python-client/bookit/admin.py
  backend/python-client/bookit/company.py
  backend/python-client/bookit/fill_db.py
  backend/python-client/bookit/items_collection.py
  backend/python-client/bookit/user.py
  backend/python-client/tests/make_company.py
  backend/python-client/tests/make_coworking.py
  backend/python-client/tests/test_company.py
  backend/python-client/tests/test_items.py
  backend/python-client/tests/test_users.py
  backend/python-client/tests/util.py
Due: none

add docs
  README.md
  backend/README.md
  credentials.md
  files/db_scheme.png
  files/interaction.png
  files/logo.svg
  files/s3_structure.png
Due: deploy

update readme
  README.md
Due: none

fix picture
  README.md
  files/interaction.png
  files/interactions.png
Due: none

impl: item save to server
  backend/.sqlx/query-5ab70b8b92c52699c101b83b94f358762a35a3a65b8a6fcdd99187dfe4ad6452.json
  backend/migrations/20250301202638_users.up.sql
  backend/migrations/20250301202641_coworking.up.sql
  backend/src/forms/items/mod.rs
  backend/src/models/mod.rs
  backend/src/openapi.rs
  backend/src/routes/items/routes.rs
  backend/src/routes/items/selecting.rs
  frontend/app/buildings.ts
  frontend/app/items.ts
  frontend/components/building-selector.tsx
  frontend/components/coworking-admin.tsx
  frontend/components/coworking-grid.tsx
  frontend/components/grid-size-controls.tsx
  frontend/components/item-sidebar.tsx
  frontend/components/item-type-creator.tsx
  frontend/components/places-manager.tsx
  frontend/lib/data-store.ts
  frontend/lib/types.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

add more tests
  backend/python-client/bookit/admin.py
  backend/python-client/bookit/fill_db.py
  backend/python-client/bookit/items_collection.py
  backend/python-client/bookit/user.py
  backend/python-client/tests/test_users.py
Due: none

commit so i can pull
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/auth/login/LoginScreen.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/navigation/NavGraph.kt
Due: none

add Full Home Screen v0.1
  mobile/app/build.gradle.kts
  mobile/app/src/main/AndroidManifest.xml
  mobile/app/src/main/java/ru/prodcontest/booq/data/remote/ApiRemote.kt
  mobile/app/src/main/java/ru/prodcontest/booq/data/remote/dto/BookingDto.kt
  mobile/app/src/main/java/ru/prodcontest/booq/data/remote/dto/TokenDto.kt
  mobile/app/src/main/java/ru/prodcontest/booq/data/repository/ApiRepositoryImpl.kt
  mobile/app/src/main/java/ru/prodcontest/booq/domain/model/BookingModel.kt
  mobile/app/src/main/java/ru/prodcontest/booq/domain/repository/ApiRepository.kt
  mobile/app/src/main/java/ru/prodcontest/booq/domain/util/ResultWrapper.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/BaseViewModel.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/home/HomeScreen.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/home/HomeState.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/home/HomeViewModel.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/home/components/HomeBookingCard.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/home/components/HomeBookingCardShimmer.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/home/components/HomeBookingPager.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/home/components/QRCodeDialog.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/showQR/ShowQrScreen.kt
  mobile/app/src/main/res/drawable/door_open_24.xml
  mobile/app/src/main/res/drawable/notes_24.xml
  mobile/app/src/main/res/drawable/receipt_long_24.xml
  mobile/app/src/main/res/drawable/warning_24.xml
  mobile/app/src/main/res/drawable/wifi_off_24.xml
  mobile/gradle/libs.versions.toml
Due: none

add Full Home Screen v0.1
  mobile/app/src/main/java/ru/prodcontest/booq/data/remote/ApiRemote.kt
  mobile/app/src/main/java/ru/prodcontest/booq/domain/repository/ApiRepository.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/auth/login/LoginScreen.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/home/HomeViewModel.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/navigation/NavGraph.kt
Due: none
