Repository CyberFatherRT/prod-2025-final: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy, buildApp

.gitlab-ci.yml:

include:
  - project: pipelines/pipelines
    ref: master
    file:
      - "/jobs/build.yaml"
      - "/jobs/docker.yaml"
      - "/jobs/rules.yaml"

.global-variables:
  variables:
    SSH_USER: "$ENV_SSH_USER"
    SSH_HOST: "$ENV_SSH_HOST"
    SSH_PRIVATE_KEY_BASE64: "$ENV_PRIVATE_KEY_BASE64"

stages:
  - build
  - deploy

deploy:
  only:
    changes:
      - compose.yml
      - nginx/**
      - backend/**
  needs: [ ]
  extends:
    - .ssh
    - .global-variables
  stage: deploy
  script:
    - ssh $SSH_ADDRESS "cd /home/ubuntu/prod && git pull && docker compose up -d --build backend"

buildApp:
  only:
    changes:
      - mobile/**
  stage: build
  image: eclipse-temurin:17-jdk
  variables:
    ANDROID_COMPILE_SDK: 35
    ANDROID_BUILD_TOOLS: "35.0.0"
    ANDROID_SDK_TOOLS: "11076708"
  before_script:
    - cd mobile

    - apt-get --quiet update --yes
    - apt-get --quiet install --yes wget unzip

    - export ANDROID_HOME="${PWD}/android-sdk-root"
    - install -d $ANDROID_HOME
    - wget --no-verbose --output-document=$ANDROID_HOME/cmdline-tools.zip https://dl.google.com/android/repository/commandlinetools-linux-${ANDROID_SDK_TOOLS}_latest.zip
    - unzip -q -d "$ANDROID_HOME/cmdline-tools" "$ANDROID_HOME/cmdline-tools.zip"
    - mv -T "$ANDROID_HOME/cmdline-tools/cmdline-tools" "$ANDROID_HOME/cmdline-tools/tools"
    - export PATH=$PATH:$ANDROID_HOME/cmdline-tools/latest/bin:$ANDROID_HOME/cmdline-tools/tools/bin

    - sdkmanager --version

    - yes | sdkmanager --licenses > /dev/null || true
    - sdkmanager "platforms;android-${ANDROID_COMPILE_SDK}"
    - sdkmanager "platform-tools"
    - sdkmanager "build-tools;${ANDROID_BUILD_TOOLS}"

    - chmod +x ./gradlew
  script:
    - ./gradlew assembleDebug
  artifacts:
    paths:
      - mobile/app/build/outputs/

meow
  backend/Cargo.lock
  backend/Cargo.toml
  backend/migrations/20250301202635_company.up.sql
  backend/src/main.rs
  frontend/app/items.ts
  frontend/components/coworking-grid.tsx
  frontend/components/item-type-creator.tsx
  frontend/components/login.tsx
  frontend/lib/utils.ts
  frontend/next.config.mjs
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: deploy

update: cors configuration
  backend/src/main.rs
Due: none

add verifications screen
  mobile/app/src/main/java/ru/prodcontest/booq/data/remote/ApiRemote.kt
  mobile/app/src/main/java/ru/prodcontest/booq/data/repository/ApiRepositoryImpl.kt
  mobile/app/src/main/java/ru/prodcontest/booq/domain/repository/ApiRepository.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/verifications/VerificationsScreen.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/verifications/VerificationsScreenState.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/verifications/VerificationsViewModel.kt
Due: none

dockerized: frontend part
  compose.yml
  frontend/Dockerfile
  nginx/default.conf
Due: deploy

mobile: meow1
  mobile/app/src/main/java/ru/prodcontest/booq/data/remote/dto/CompanyItemDto.kt
  mobile/app/src/main/java/ru/prodcontest/booq/data/remote/dto/CoworkingItemDto.kt
  mobile/app/src/main/java/ru/prodcontest/booq/domain/model/CoworkingItemModel.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/map/MapScreen.kt
Due: none

mobile: meow
  mobile/app/src/main/java/ru/prodcontest/booq/data/remote/ApiRemote.kt
  mobile/app/src/main/java/ru/prodcontest/booq/data/remote/dto/CompanyItemDto.kt
  mobile/app/src/main/java/ru/prodcontest/booq/data/remote/dto/CreateBookingDto.kt
  mobile/app/src/main/java/ru/prodcontest/booq/data/remote/dto/CreateBookingResponseDto.kt
  mobile/app/src/main/java/ru/prodcontest/booq/data/remote/dto/ItemBookingDto.kt
  mobile/app/src/main/java/ru/prodcontest/booq/data/repository/ApiRepositoryImpl.kt
  mobile/app/src/main/java/ru/prodcontest/booq/domain/model/BookingSpan.kt
  mobile/app/src/main/java/ru/prodcontest/booq/domain/model/CoworkingItemModel.kt
  mobile/app/src/main/java/ru/prodcontest/booq/domain/repository/ApiRepository.kt
  mobile/app/src/main/java/ru/prodcontest/booq/domain/usecase/GetCoworkingDataUseCase.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/auth/login/LoginScreen.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/auth/register/RegisterScreen.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/map/CoworkingMap.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/map/MapScreen.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/map/MapScreenAction.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/map/MapScreenState.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/map/MapViewModel.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/navigation/NavGraph.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/qrScanner/QrScannerScreen.kt
Due: none

update: CI
  .gitlab-ci.yml
Due: none

fix: backendDomain
  frontend/lib/utils.ts
Due: none

change: nginx port for frontend
  nginx/default.conf
Due: deploy

meow
  backend/src/main.rs
  backend/src/routes/items/routes.rs
  nginx/default.conf
Due: deploy

add images
  .DS_Store
  README.md
  credentials.md
  files/frontend_1.jpg
  files/frontend_2.jpg
  files/phones.png
  frontend/README.md
  routes.md
Due: none

openapi
  openapi.json
Due: none

removed store
  .DS_Store
Due: none

fix: nginx again
  backend/src/main.rs
  backend/src/routes/places/coworking.rs
  nginx/default.conf
Due: deploy

rust win?
  backend/src/main.rs
Due: none

nginx win?
  backend/src/main.rs
  nginx/default.conf
Due: deploy

I hate my life
  backend/src/main.rs
Due: none

mobile: patch bookigns + fix proguard
  mobile/app/proguard-rules.pro
  mobile/app/src/main/java/ru/prodcontest/booq/data/remote/ApiRemote.kt
  mobile/app/src/main/java/ru/prodcontest/booq/data/remote/dto/PatchBookingDto.kt
  mobile/app/src/main/java/ru/prodcontest/booq/data/repository/ApiRepositoryImpl.kt
  mobile/app/src/main/java/ru/prodcontest/booq/domain/repository/ApiRepository.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/home/HomeScreen.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/map/MapScreen.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/map/MapViewModel.kt
Due: none

Finally
  backend/src/routes/admin/routes.rs
  backend/src/routes/booking/routes.rs
  backend/src/routes/companies/routes.rs
  backend/src/routes/items/routes.rs
  backend/src/routes/items/selecting.rs
  backend/src/routes/places/building.rs
  backend/src/routes/places/coworking.rs
  backend/src/routes/places/items.rs
  backend/src/routes/users/routes.rs
  backend/src/routes/users/validate.rs
Due: none

populate: db with data
  credentials.md
Due: none

trash night
  mobile/app/src/main/java/ru/prodcontest/booq/data/remote/ApiRemote.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/MainActivity.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/auth/login/LoginScreen.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/auth/login/LoginScreenState.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/auth/login/LoginViewModel.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/auth/regcomp/RegisterCompanyScreen.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/auth/regcomp/RegisterCompanyState.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/auth/regcomp/RegisterCompanyViewModel.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/auth/register/RegisterScreen.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/auth/register/RegisterState.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/auth/register/RegisterViewModel.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/home/HomeScreen.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/home/HomeViewModel.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/home/components/HomeRegisterCompanyDialog.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/map/MapScreen.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/navigation/NavGraph.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/profile/ProfileScreen.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/profile/ProfileViewModel.kt
Due: none

lol
  mobile/app/build.gradle.kts
  mobile/app/src/main/AndroidManifest.xml
  mobile/app/src/main/java/ru/prodcontest/booq/data/remote/ApiRemote.kt
  mobile/app/src/main/java/ru/prodcontest/booq/data/remote/dto/VerificationDto.kt
  mobile/app/src/main/java/ru/prodcontest/booq/data/repository/ApiRepositoryImpl.kt
  mobile/app/src/main/java/ru/prodcontest/booq/domain/repository/ApiRepository.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/navigation/NavGraph.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/users/UsersScreen.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/users/UsersScreenModel.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/users/UsersScreenState.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/verifications/VerificationsViewModel.kt
  mobile/app/src/main/res/xml/provider_paths.xml
Due: none

mobile: fixessss
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/home/HomeScreen.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/map/MapScreen.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/map/MapViewModel.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/navigation/NavGraph.kt
Due: none

trash night v2
  mobile/app/src/main/java/ru/prodcontest/booq/data/remote/ApiRemote.kt
  mobile/app/src/main/java/ru/prodcontest/booq/data/repository/ApiRepositoryImpl.kt
  mobile/app/src/main/java/ru/prodcontest/booq/domain/repository/ApiRepository.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/home/HomeScreen.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/home/HomeViewModel.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/home/components/HomeBookingCard.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/home/components/HomeBookingPager.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/map/MapScreen.kt
  mobile/app/src/main/res/drawable/delete_24.xml
Due: none

sigma
  backend/python-client/bookit/config.py
  mobile/app/src/main/java/ru/prodcontest/booq/data/remote/ApiRemote.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/auth/login/LoginScreen.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/navigation/NavGraph.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/verifications/VerificationsScreen.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/verifications/VerificationsViewModel.kt
Due: none

sigma
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/auth/login/LoginScreen.kt
Due: none

mobile: fixessss
  mobile/app/src/main/java/ru/prodcontest/booq/domain/usecase/IsAdminUseCase.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/home/HomeScreen.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/home/HomeState.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/home/HomeViewModel.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/map/MapScreen.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/profile/ProfileViewModel.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/qrScanner/QrScannerScreen.kt
Due: none

mobile: prohibit unverified user to create booking
  mobile/app/src/main/java/ru/prodcontest/booq/domain/usecase/IsUnverifiedUseCase.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/home/HomeScreen.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/home/HomeState.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/home/HomeViewModel.kt
Due: none

trash night v3
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/home/HomeScreen.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/home/HomeState.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/home/HomeViewModel.kt
Due: none

request camera permissions
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/navigation/NavGraph.kt
  mobile/app/src/main/java/ru/prodcontest/booq/presentation/qrScanner/QrScannerScreen.kt
Due: none

icons!
  mobile/app/src/main/ic_launcher-playstore.png
  mobile/app/src/main/res/drawable/ic_launcher_foreground.xml
  mobile/app/src/main/res/drawable/launcher_icon.xml
  mobile/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  mobile/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  mobile/app/src/main/res/mipmap-hdpi/ic_launcher.webp
  mobile/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  mobile/app/src/main/res/mipmap-mdpi/ic_launcher.webp
  mobile/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  mobile/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  mobile/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  mobile/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  mobile/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  mobile/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  mobile/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  mobile/app/src/main/res/values/ic_launcher_background.xml
  mobile/icon.svg
Due: buildApp

update openapi
  openapi.json
Due: none

fix credentials
  credentials.md
Due: none

add mobile readme
  mobile/README.md
Due: buildApp
